@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header{
    padding: 40px 0 68px;
    background: #0A0A0A;
}
.header__top{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 45px;
    flex: 0 0 186px;
}
.header__menu-list{
    display: flex;
}
.header__menu-item{
    margin-right: 68px;
}
.header__menu-item:last-child{
    margin-right: 0;
}
.header__menu-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    transition: all .5s;
    padding: 10px 15px;
    border-radius: 8px;
    &:hover{
        background-color: #1C1D1E;
    }
}
.header__top-call{
    margin-left: 230px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.header__call-phone{
    display: block;
    margin-bottom: 6px;
    transition: all .3s;
    &:hover{
        color: #FF7A00;
    }
}
.header__call-text{
    display: block;
    transition: all .3s;
    &:hover{
        color: #FF7A00;
    }
}
.header__content{
    padding: 44px 0 68px;
    display: flex;
}
.header__content-left{
    margin-right: 37px;
}
.header__left-title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    max-width: 546px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 73px;    
}
.header__left-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    max-width: 340px;
    margin-bottom: 85px;
}
.header__left-btn{
    
}
.btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding: 15px 34px;
    background:#1C1D1E;
    border: 3px solid #FF7A00;
    border-radius: 10px;
    transition: all .8s;
    box-shadow: 0 10px 0px #000;
    &:hover{
        background: #0A0A0A;
    }
}
.header__content-right{
    width: 50%;
}
.header__content-right{
    position: relative;
}
.header__right-slider{
    z-index: 1;
}
.header__right-slider .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    button{
        font-size: 0px;
        border: none;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        padding: 0;
        margin-right: 10px;
        background: #fff;
        cursor: pointer;
    }
.slick-active{
    button{
        background: #FF7A00;
    }
}
}
.header__slider-item-img{
    max-width: 100%;
    height: auto;
}
.header__right-img{
    position: absolute;
    top: -24px;
    right: -80px;
}
.work{
    padding: 59px 0 50px 0;
    background-image: url(../images/work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.work__title{
    position: relative;
    &::after{
        content: '';
        width: 203px;
        height: 3px;
        background: #FF7A00;
        position: absolute;
        top: 30px;
        right: 0;
    }
    &::after{
        content: '';
        width: 203px;
        height: 3px;
        background: #FF7A00;
        position: absolute;
        top: 30px;
        right: 0;
    }
    &::before{
        content: '';
        width: 203px;
        height: 3px;
        background: #FF7A00;
        position: absolute;
        top: 30px;
        left: 0;
    }
}
.work__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 45px auto 0;
    counter-reset: list;
}
.work__list-item{
    flex: 0 1 50%;
    margin-bottom: 71px;
    max-width: 450px;
    display: flex;
    align-items: center;
}
.work__list-item:nth-child(2n-1){
    margin-right: 120px;
}
.work__list-item:last-child{
    margin: 0;
}
.work__list-item::before {
    content: counter(list, decimal-leading-zero);
    counter-increment: list;
    margin-right: 25px;
    color: rgba(255, 122, 0, 0.5);
    font-size: 60px;
  }

  .services{
      padding: 72px 0 85px;
  }
  .services__inner{
      margin-top: 54px;
  }
  .services__title{
      position: relative;
      padding-bottom: 20px;
      &::before{
          content: '';
          position: absolute;
          width: 300px;
          background: #FF7A00;
          height: 2px;
          left: 50%;
          bottom: 0;
          transform: translate(-50%,0);
      }
  }
  .services__tabs{
      display: flex;
      width: 996px;
      margin: 0 auto;
      color: #1C1D1E;
      font-weight: 700;
  }
  .tabs__items{
      margin-right: 20px;
  }
  .tabs__item-wrap{
    width: 387px;
    height: 177px;
    margin-bottom: 14px;
  }
  .tabs__item{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #F17D11;
      font-size: 22px;
      line-height: 27px;
      cursor: pointer;
  }
.tabs__block{
    background-image: url(../images/cran.jfif);
    background-repeat: no-repeat;
    background-position: center;
    width: 595px;
    height: 750px;
    border: 2px solid #F17D11;
}
.tabs__block-title{
    text-align: center;
    padding-top: 43px;
    margin-bottom: 43px;
    font-size: 24px;
    line-height: 29px;
    color: #F17D11;
}
.tabs__block-list{
    padding: 0 33px 96px 103px;
}
.tabs__list-item{
    margin-bottom: 15px;
}
.services__text{
    font-size: 22px;
    line-height: 27px;
    max-width: 1195px;
    margin: 75px auto 51px;
}
.services__subtitle{
    font-size: 30px;
    line-height: 37px;
    color: #FF7A00;
    text-align: center;
}
.request{
    background-image: url(../images/2bcad234e6fc9ff98e68d8845af02f05.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 53px 0 0px;
    height: 603px;
}
.request__inner{
    display: flex;
    position: relative;
}
.form{
    padding: 25px 20px 25px 54px;
    background-color: #1C1D1E;
    border: 2px solid #FF7A00;
    border-radius: 15px;
}
.form__title{
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 23px;
}
.form__input{
    display: block;
    outline: none;
    border: none;
    margin-bottom: 18px;
    background: #1C1D1E;
    border-bottom: 2px solid #FF7A00;
    padding-right: 60px;
    &::placeholder{
        color: #fff;
    }
}
.form__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
}
.form__textarea{
    display: block;
    max-width: 285px;
    width: 100%;
    height: 146px;
    border: 2px solid #FF7A00;
    border-radius: 10px;
    outline: none;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 25px;
}
.form-btn{
    cursor: pointer;
    color: #fff;
    margin-bottom: 11px;
}
.form__checkbox-wrap{
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}
.form__checkbox{
    border: 2px solid #FF7A00;
    background-color:  #1C1D1E;
    type{
        border: 2px solid #FF7A00;
    }
}
.request__img-wrap{
    max-width: 608px;
    height: 672px;
}
.request__img{
    max-width: 100%;
    position: absolute;
    right: 135px;
    top: -122px;
}